<div fxLayoutAlign="center center" class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login</mat-toolbar>
        <form class="login-form" fxLayoutAlign="streatch" fxLayout="column" (ngSubmit)="OnLoginFormSubmit()" #loginForm="ngForm">
            <mat-form-field appearance="fill">
                <mat-label>User name</mat-label>
                <input matInput placeholder="Username" type="text" [(ngModel)]="userObject.userName" name="userName" #userName="ngModel" required>
                <div class="error-message" *ngIf="(userName.touched || loginForm.submitted ) && userName.errors?.['required']">
                    Please enter user name
                </div>
            </mat-form-field>
            

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userObject.password" #password="ngModel" required>
                <div class="error-message" *ngIf="(password.touched || loginForm.submitted ) && password.errors?.['required']">
                    Please enter password
                  </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>User type</mat-label>
                <mat-select [(ngModel)]="userObject.userType" name="userType" #userType="ngModel" required>
                    <mat-option *ngFor="let type of userTypes" [value]="type.value">
                        {{type.displayLabel}}
                    </mat-option>
                </mat-select>
                <div class="error-message" *ngIf="(userType.touched || loginForm.submitted ) && userType.errors?.['required']">
                    Please select user type
                </div>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
    </mat-card>
</div>

