#btnSearch {
    margin-top: 10px;
}

#divBook {
    margin-top: 15px;
}

table {
    width: 100%;
}

.hide {
    display: none;
}

mat-footer-cell mat-footer-row {
    justify-content: center;
    font-style: italic;
}