<div class="container">
    <form (ngSubmit)="onSearchSubmit()">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="bookTitle">Book title</label>
                <input type="text" class="form-control" name="bookTitle" id="bookTitle" placeholder="Book title"
                    [(ngModel)]="criteria.BookTitle">
            </div>
            <div class="form-group col-md-6">
                <label for="author">Author</label>
                <input type="text" class="form-control" name="author" id="author" placeholder="Author name"
                    [(ngModel)]="criteria.Author">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="category">Category</label>
                <input type="text" class="form-control" name="category" id="category" placeholder="Category"
                    [(ngModel)]="criteria.Category">
            </div>
            <div class="form-group col-md-6">
                <label for="publisher">Publisher</label>
                <input type="text" class="form-control" name="publisher" id="publisher" placeholder="Publisher"
                    [(ngModel)]="criteria.Publisher">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="bookPrice">Price</label>
                <input type="number" class="form-control" name="bookPrice" id="bookPrice" placeholder="Price"
                    [(ngModel)]="criteria.Price">
            </div>
        </div>
        <!-- <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div> -->
        <div class="row">
            <button id="btnSearch" 
                class="btn btn-primary btn-block">Search</button>
        </div>
    </form>
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Book Title</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>{{criteria.BookTitle}}</td>
                    <td>{{criteria.Category}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>