
<!-- <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand" href="">DIGITAL BOOK APP</a>
      <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item mx-0 mx-lg-1"  *ngIf="!IsUserAuthenticated()">
                <a [routerLink] = "['/create-account']" class="nav-link py-3 px-0 px-lg-3 rounded">Signup</a>
            </li>
              <li class="nav-item mx-0 mx-lg-1" *ngIf="!IsUserAuthenticated()">
                <a [routerLink] = "['/sign-in']" class="nav-link py-3 px-0 px-lg-3 rounded" href="">Sign in</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1"> 
                <a class="nav-link py-3 px-0 px-lg-3 rounded">Hello {{ this.GetUserName() }}</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1" *ngIf="IsUserAuthenticated()">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" type="button" (click) = "LogOutCurrentUser()"> Log  out</a>
            </li>
          </ul>
      </div>
  </div>
</nav> -->

<div>
    <mat-toolbar color="primary">
      <mat-toolbar-row >
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>DigitalBookApp</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <a [routerLink] = "['/create-account']"   mat-button *ngIf="!IsUserAuthenticated()"  routerLinkActive="router-link-active no-border">Signup</a>
          <a [routerLink] = "['/sign-in']"   mat-button *ngIf="!IsUserAuthenticated()"  routerLinkActive="router-link-active no-border">Sign in</a>
          <a  *ngIf="IsUserAuthenticated()">Hello {{ this.GetUserName() }}</a>
          <a  mat-button (click) = "LogOutCurrentUser()" *ngIf="IsUserAuthenticated()"  routerLinkActive="router-link-active no-border"> Log  out</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
          <a [routerLink] = "['/create-account']"  *ngIf="!IsUserAuthenticated()">Signup</a>
          <a [routerLink] = "['/sign-in']"  href="" *ngIf="!IsUserAuthenticated()">Sign in</a>
          <a *ngIf="IsUserAuthenticated()">Hello {{ this.GetUserName() }}</a>
          <a (click) = "LogOutCurrentUser()" *ngIf="IsUserAuthenticated()"> Log  out</a>
        </mat-nav-list>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
  
