<div fxLayoutAlign="center center" class="main-div">
    <mat-card fxFlex="35">
        <mat-toolbar color="primary">Sign Up</mat-toolbar>
        <form class="login-form" fxLayoutAlign="streatch" fxLayout="column" (ngSubmit)="onCreateAccountFormSubmit()" #signUpForm="ngForm">
            <mat-form-field appearance="fill">
                <mat-label>User name</mat-label>
                <input matInput placeholder="Username" type="text" [(ngModel)]="userObject.userName" name="userName" #userName="ngModel" required>
                <div class="error-message" *ngIf="(userName.touched || signUpForm.submitted )&& userName.errors?.['required']">
                    Please enter user name
                </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" name="password"[(ngModel)]="userObject.password" #password="ngModel" required>
                <div class="error-message" *ngIf="(password.touched || signUpForm.submitted ) && password.errors?.['required']">
                    Please enter user name
                </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>User type</mat-label>
                <mat-select [(ngModel)]="userObject.userType" name="userType" #userType="ngModel" required>
                    <mat-option *ngFor="let type of userTypes" [value]="type.value">
                        {{type.displayLabel}}
                    </mat-option>
                </mat-select>
                <div class="error-message" *ngIf="(userType.touched || signUpForm.submitted ) && userType.errors?.['required']">
                    Please select user type
                </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Email" name="email" [(ngModel)]="userObject.email" #email="ngModel"
                pattern="^[a-zA-Z0-9_!#$%&'*+/=?`{|}~^.-]+@[a-zA-Z0-9.-]+$" required>
                <div class="error-message" *ngIf="(email.touched || signUpForm.submitted ) && email.errors?.['required']">
                    Please enter email
                </div>
                <div class="error-message" *ngIf="(email.touched || signUpForm.submitted ) && email.errors?.['pattern']">
                    Please enter valid email
                </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Phone number</mat-label>
                <input matInput type="number" placeholder="Phone number" name="phoneNumber" [(ngModel)]="userObject.phoneNumber" #phoneNumber="ngModel"
                pattern="^((\\+91-?)|0)?[0-9]{10}$" required>
                <div class="error-message" *ngIf="(phoneNumber.touched || signUpForm.submitted ) && phoneNumber.errors?.['required']">
                    Please enter email
                </div>
                <div class="error-message" *ngIf="(phoneNumber.touched || signUpForm.submitted ) && phoneNumber.errors?.['pattern']">
                    Please enter valid phone number
                </div>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
        </form>
    </mat-card>
</div>