<app-search-book-filter (booksResult)="OnSearchSubmitted($event)"></app-search-book-filter>
<div  style="margin-top: 2%">
   
<div  fxLayoutAlign="center center" style="margin-top: 2%;"  >
    <mat-card fxFlex="75">
        <table width="100%">
            <tr>
                <td align="left">
                    <h3 class="text-primary">My Books</h3>
                </td>
                <td align="right">
                    <a mat-raised-button color="primary" [routerLink] = "['/create-book']">
                        Create New Book &nbsp;<mat-icon>add_circle</mat-icon>
                    </a>
                </td>
            </tr>
        </table>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource"   style="width:100%" matSort>
                <ng-container matColumnDef="bookLogo">
                    <th mat-header-cell *matHeaderCellDef> Logo </th>
                    <td mat-cell *matCellDef="let element"> 
                        <img src="../../assets/images/bookicon.png" alt="Book logo">
                    </td>
                </ng-container>
                <ng-container matColumnDef="bookTitle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Book title </th>
                    <td mat-cell *matCellDef="let element"> {{element.bookTitle}}</td>
                </ng-container>
                <ng-container matColumnDef="category" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}}</td>
                </ng-container>
        
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                    <td mat-cell  *matCellDef="let element"> {{element.price}} </td>
                </ng-container>

                <ng-container matColumnDef="content">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Content </th>
                    <td mat-cell  *matCellDef="let element"> {{element.content}} </td>
                </ng-container>

                <ng-container matColumnDef="publisher">
                    <th mat-header-cell *matHeaderCellDef> Publisher </th>
                    <td mat-cell  *matCellDef="let element"> {{element.publisher}} </td>
                </ng-container>
        
                <ng-container matColumnDef="publishDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Publish date </th>
                    <td mat-cell  *matCellDef="let element"> {{element.publishDate | date:'dd-MM-yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created date </th>
                    <td mat-cell  *matCellDef="let element"> {{element.createdDate | date:'dd-MM-yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell  *matCellDef="let element"> 
                        <button mat-icon-button color="primary" type="button"  [routerLink] = "['/create-book', element.bookId]">
                            <mat-icon>edit_square</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" type="button" (click)="DeleteBook(element.bookId)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="9">
                        Loading data.....
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="9">
                        No records found
                    </mat-footer-cell>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource != null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(dataSource != null && dataSource.data.length == 0)}"></mat-footer-row>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 40, 80]" [pageSize]="5"  showFirstLastButtons></mat-paginator>
        </div>
        
    </mat-card>
</div>