<!-- <div class="container border " style="padding: 30px; margin-top: 8%">
    <div class="row col-md-12">
        <h2 class="text-info"> {{this.addOrUpdateText}}</h2>
    </div>
    <br/>
    <form>
        <div class="form-group row mt-3">
            <div class="col-4">
                <label for="bookTitle">Book Title</label>
            </div>
            <div class="col-6">
                <input type="text" id="bookTitle" name="bookTitle" [(ngModel)]="bookObject.bookTitle" class="form-control"/>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-4">
                <label for="category">Category</label>
            </div>
            <div class="col-6">
                <input type="text" id="category" name="category" [(ngModel)]="bookObject.category" class="form-control"/>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-4">
                <label for="price">Price</label>
            </div>
            <div class="col-6">
                <input type="number" id="price" name="price" [(ngModel)]="bookObject.price" class="form-control"/>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-4">
                <label for="publisher">Publisher</label>
            </div>
            <div class="col-6">
                <input type="text" id="publisher" name="publisher" [(ngModel)]="bookObject.publisher" class="form-control"/>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-4">
                <label for="content">Content</label>
            </div>
            <div class="col-6">
                <input type="text" id="content" name="content" [(ngModel)]="bookObject.content" class="form-control"/>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-4">
                <label class="form-check-label" for="active"> Active</label>
            </div>
            <div class="col-6">
                <input class="form-check-input" type="checkbox" name="active" id="active" [(ngModel)]="bookObject.active">
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-md-3 offset-4">
                <a type="button" (click)= 'CreateBook()' class="form-control btn btn-info"> {{this.addOrUpdateText}}</a>
            </div>
            <div class="col-md-3">
                <a type="button" class="form-control btn btn-primary" [routerLink] = "['/author']">Back</a>
            </div>
        </div>
    </form>
</div> -->

<div  fxLayoutAlign="center center" style="margin-top: 2%;"  >
    <mat-card  fxFlex="50">
        <mat-toolbar color="primary">{{this.addOrUpdateText}}</mat-toolbar>
        <form class="login-form" fxLayoutAlign="streatch" fxLayout="column" #createBookFrom="ngForm">
            <mat-form-field appearance="fill">
                <mat-label>Book Title</mat-label>
                <input matInput  type="text"  name="bookTitle" [(ngModel)]="bookObject.bookTitle" #bookTitle="ngModel" required>
                <div class="error-message" *ngIf="(bookTitle.touched || createBookFrom.submitted ) && bookTitle.errors?.['required']">
                    Please enter book title
                </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <input matInput type="text" name="category" [(ngModel)]="bookObject.category" #category="ngModel" required>
                <div class="error-message" *ngIf="(category.touched || createBookFrom.submitted ) && category.errors?.['required']">
                    Please enter category
                </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input matInput type="number"  name="price" [(ngModel)]="bookObject.price" #price="ngModel" required>
                <div class="error-message" *ngIf="(price.touched || createBookFrom.submitted ) && price.errors?.['required']">
                    Please enter price
                </div>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Publisher</mat-label>
                <input matInput type="text" name="publisher" [(ngModel)]="bookObject.publisher" #publisher="ngModel" required>
                <div class="error-message" *ngIf="(publisher.touched || createBookFrom.submitted ) && publisher.errors?.['required']">
                    Please enter publisher
                </div>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Content</mat-label>
                <input matInput type="text"  name="content" [(ngModel)]="bookObject.content" #content="ngModel" required>
                <div class="error-message" *ngIf="(content.touched || createBookFrom.submitted ) && content.errors?.['required']">
                    Please enter book content
                </div>
            </mat-form-field>
            
            <section class="example-section">
                <mat-checkbox class="example-margin" name="active" [(ngModel)]="bookObject.active">Lock</mat-checkbox>
              </section>
              <table width="100%">
                <tr>
                    <td align="right">
                        <button mat-raised-button color="primary" [disabled]="createBookFrom.invalid" type="submit" (click)= 'CreateBook()'> {{this.addOrUpdateText}} &nbsp;<mat-icon>save_as</mat-icon></button> &nbsp;&nbsp;
                        <button mat-raised-button color="primary" [routerLink] = "['/author']"> Back &nbsp; <mat-icon>undo</mat-icon></button>
                    </td>
                </tr>
              </table>
            
            <br/>
            
        </form>
    </mat-card>
</div>
